{{! Styles }}
<link rel="stylesheet" href="/stylesheets/homepage-style.css" />

{{! content }}

<div class="container">
  <div class="filters">
    <a href="/posts/new">New</a>
    <a href="/">Old</a>
    <a href="/posts/random">Random</a>
  </div>
  <div class="post-container">
    {{#each allPosts}}
      <div class="post-div">
        <a href="/posts/{{this._id}}">
          <h2>{{this.title}}</h2>
          <h3>{{#if this.game}} Game: {{/if}} {{this.game}}</h3>
          <p>{{this.post}}</p>
        </a>
      </div>
    {{/each}}
    {{#each postsInOrder}}
      <div class="post-div">
        <a href="/posts/{{this._id}}">
          <h2>{{this.title}}</h2>
          <h3>{{this.game}}</h3>
          <p>{{this.post}}</p>
        </a>
      </div>
    {{/each}}
    {{#if randomPost}}
      <div class="post-div">
        <a href="/posts/{{randomPost._id}}">
          <h2>{{randomPost.title}}</h2>
          <h3>{{randomPost.game}}</h3>
          <p>{{randomPost.post}}</p>
        </a>
      </div>
    {{/if}}

  </div>
</div>

{{!-- <div class="feed-container">
  <div class="feed">
    <h1><a href="/">Feed</a></h1>
    
    <div class="post-container">
      {{#each allPosts}}
        <a href="/posts/{{this._id}}"><div class="post-div">
            <h2>{{this.title}}</h2>
            <p>{{this.post}}</p>
          </div></a>
      {{/each}}
    </div>
  </div>
  {{#each postsInOrder}}
    <a href="/posts/{{this._id}}"><div class="post-div">
        <h2>{{this.title}}</h2>
        <p>{{this.post}}</p>
      </div></a>
  {{/each}}

</div> --}}