<h1>{{post.title}}</h1>
<p>{{post.post}}</p>
<h4>by {{post.author.username}}</h4>

{{#if isAuthor}}
  <div>
    <a href="/posts/{{post._id}}/edit">Edit this post</a>
    <br />
    <a href="/posts/{{post._id}}/delete">Delete this post</a>
  </div>
{{/if}}
<button onclick="like(event)" data-postid="{{post._id}}">💗</button>

<script src="/js/likes.js"></script>